body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;

}

header {
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    background-color: #1b3665;
    padding: 30px 20px;
}

header ul li a:hover,
header button:hover {
    color: #ff0000;
}

.logoEmpresa {
    filter: opacity(1);
    width: 60px;
}



section {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}


table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.barra-navegacion form {
    margin-right: 20px;
}

.barra-navegacion form input {
    padding: 5px;
}

.barra-navegacion label {
    color: #fff;
}

.ingreso {
    margin: auto;
}

.info-chof {
    width:38%;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 40px;
    place-items: center;
}

.info-chof h1 {
    width: 100%;
    color: #3498DB;
    text-align: center;
}

.info-chof p {
    width: 100%;
    color: #34495E;
    text-align: left;
}

.info-chof-prof h1 {
    width: 100%;
    color: #3498DB;
    text-align: center;
}

.info-chof-prof p {
    width: 100%;
    color: #34495E;
    text-align: center;
}

.info-chof-prof label input {
    margin-top: 200px;
}

.info-chof-prof {
    width:38%;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 40px;
    place-items: center;
}

input[type="text"],
input[type="date"],
input[type="file"],
input[type="number"],
input[type="email"],
select {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 16 px;
    text-align: center;
}

.error {
    border-bottom: 3px solid red !important;
}


dialog {
    background-color: #ffffff;
    transition: opacity 1.5s ease-in-out;
    border-radius: 9px;
    border-color: #ffffff;
}



#cancelBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background-color: #f00;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#cancelBtn:hover {
    background-color: #f55;
}


#openDialog {
    background-color: #ff6600ce;
    color: #1b3665;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bolder;
    border: 0;
}

#openDialog:hover {
    background-color: #ff8635a7;
}

#botonEnviar {
    font-size: 15px;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    text-align: center; 
    align-items: center;
    
    
}
.grid-item {
    gap: 60px;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 40px;
    place-items: left;
    box-shadow: 0 20px 10px 5px rgba(0, 0, 0, 0.1);
}

.grid-item h1 {
    width: 100%;
    color: #3498DB;
    text-align: center;
}

.grid-item p {
    width: 100%;
    color: #34495E;
    text-align: left;
}
