.form-container {
    width: 50%;
    max-height: fit-content;
    padding: 15px 25px;
    justify-content: center;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
}

.cerrarForm {
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
    transition: transform 0.1s, opacity 0.1s;
}

.cerrarForm:hover {
    transform: scale(1.2);
    opacity: 11.8;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.form-container h2 {
    margin-bottom: 20px;
    color: #1b3665;
    align-items: center;
}

.form-body {
    display: flex;
}

.info-container {
    flex: 1;
    padding: 0px 15px;
    margin: 0px 10px;
}

.info-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    background-color: none;
    border: none;
    border-bottom: solid 1px black;
    padding: 10px 0px;
}

.form-container input:focus {
    outline: none;
}

.formFooter {
    flex: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-container .grupo label {
    color: black;
    position: absolute;
    font-size: small;
    top: 10px;
    transition: ease-in-out 0.5s;
    pointer-events: none;
}


.form-container form .grupo {
    position: relative;
    margin-bottom: 10px;
}


.form-container :focus~label,
.form-container :valid~label {
    top: -10px;
    font-size: small;
    color: rgb(0, 145, 255);
}

select:focus ~ label{
    font-size: small;
    color: rgb(0, 145, 255);
}

.nuevaUbi{
    display: none;
}


.form-container [type="submit"] {
    background-color: #1b3665;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
}

.form-container [type="submit"]:hover {
    background-color: #2980b9;
}