header {
    background-color: #1b3665;
}

.informacion {
    padding-top: 9.3%;

    margin: auto;
    width: 800px;
    height: 435px;
}

.informacion article {
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ECF0F1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.informacion article h1 {
    color: #3498DB;
    text-align: center;
}

.informacion article p {
    color: #34495E;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.titulo {
    padding: 20px;
    color: #3498DB;
}

.informacion article h3 {
    color: #34495E;
    padding: 20px;
    margin: 0;
    text-align: center;
}


footer{

    position: absolute;
}